/*body*/

body {
  margin: 0px;
  background-color: #eff6ff;
}


/*Tipografia*/

.content-header h1 {
  font-size: 48px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  width: fit-content;
}

.tagline-header {
  font-size: 18px;
  max-width: 85%;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  margin: 0px 0 15px 0;
  color: #212121;
}

@media only screen and (min-width: 600px) {
  .tagline-header {
    font-size: 24px
  }
  .content-header h1 {
    font-size: 72px
  }
}

/*navigazione*/

.barra-navigazione {
  width:100%;
  height:70px;
  background: white;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 10px 14px -5px rgba(133,133,133,1);
  -moz-box-shadow: 0px 10px 14px -5px rgba(133,133,133,1);
  box-shadow: 0px 10px 14px -5px rgba(133,133,133,1);
}

.logo-brand {
  margin-right: auto;
  padding-left: 3rem;
  font-family: 'Poppins', sans-serif;
  text-transform:uppercase;
  font-size: 18px;
  font-weight: 800;
}

.menu {
  margin-left: auto;
  padding-right: 3rem;
  display: none;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.menu ul li {
  padding: 0px 20px 0px 0px
}

.menu ul li a {
  font-family: 'Poppins', sans-serif;
  text-transform:uppercase;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #212121;
}

@media only screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
  .hamburger-menu {
    display: none;
  }
}

.hamburger-menu {
  margin-right: 3rem;
}

.hamburger-menu-icon {
  font-size: 36px!important;
  color: #212121;
}


/*Header*/

.header {
  width: 100%;
  height: 100vh;
  min-height: 300px;
  max-height: 500px;
  background: white;
  background-image: url('img/header-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  -webkit-box-shadow: 0px 10px 14px -5px rgba(133,133,133,1);
  -moz-box-shadow: 0px 10px 14px -5px rgba(133,133,133,1);
  box-shadow: 0px 10px 14px -5px rgba(133,133,133,1);
}

@media only screen and (min-width: 768px) {
  .header {
    background-position: center center;
  }
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.background-veil {
  width: 100%;
  height: 100vh;
  min-height: 300px;
  max-height: 500px;
  background: rgb(255,255,255, 0.5);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 992px) {
.background-veil {
  background: rgb(255,255,255, 0.5);
  background: linear-gradient(90deg, rgba(255,255,255,0.5) 55%, rgba(255,255,255,0) 55%);
}
}

.content-header {
  text-align: center;
  max-width: 500px;
  text-align: left;
  padding-left: 3rem
}

.call-to-action {
  padding: 15px;
  background: white;
  border: 1px solid #eee;
  border-radius: 20px;
  margin-top: 15px;
  -webkit-box-shadow: 10px 10px 30px -2px rgba(153,153,153,1);
  -moz-box-shadow: 10px 10px 30px -2px rgba(153,153,153,1);
  box-shadow: 10px 10px 30px -2px rgba(153,153,153,1);

}

.call-to-action a {
  font-family: 'Poppins', sans-serif;
  text-transform:uppercase;
  font-size: 18px;
  font-weight: 800;
  color: #ff5e13;
  text-decoration: none;
  display: block;
  width: 100%;
}

/*prodotti*/

.prodotti {
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 1rem;
  -webkit-box-shadow: 0px 10px 14px -5px rgba(133,133,133,1);
  -moz-box-shadow: 0px 10px 14px -5px rgba(133,133,133,1);
  box-shadow: 0px 10px 14px -5px rgba(133,133,133,1);
}

.card:hover {
  -webkit-box-shadow: 0px 10px 14px -5px rgba(31,31,31,1);
  -moz-box-shadow: 0px 10px 14px -5px rgba(31,31,31,1);
  box-shadow: 0px 10px 14px -5px rgba(31,31,31,1);
}

.img-card {
  max-height: 250px
}

.img-card img{
  width:100%;
  object-fit: cover;
  max-height: 250px
}

.info-card {
  padding: 1.5rem;
}

.title-card {
  padding-bottom: 0.5rem
}

.title-card h2{
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  margin: 0px;
}

.description-card p{
  margin: 0px;
  font-family: 'Roboto Slab', serif;
}

.action-card {
  padding-top: 0.75rem;
  float: right
}

.action-card a{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  color: #ff5e13;
}

@media only screen and (min-width: 600px) {
  .card {
    flex: 0 0 44%;
    max-width: 44%;
  }
}

@media only screen and (min-width: 992px) {
  .card {
    flex: 0 0 29%;
    max-width: 29%;
  }
}

/*footer*/

footer {
  background: #cfe5ff;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-brand h1{
    font-family: 'Poppins', sans-serif;
    text-transform:uppercase;
    font-size: 72px;
    font-weight: 800;
    margin: 0px;
}

.footer-brand p {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
